polkit.addRule(function(action, subject) {
      if (( action.id == "org.freedesktop.NetworkManager.reload" ||
          action.id == "org.freedesktop.NetworkManager.network-control" ) &&
        subject.isInGroup("routeservice")) {
        return polkit.Result.YES;
    }
});
